Options -Multiviews
RewriteEngine On

RewriteRule ^pengajuan/(.*)$ tia/tia212410102042/uas/view/listpengajuan.php?code=$1
RewriteRule ^tarik/(.*)$ routes/tarik.php?code=$1
RewriteRule ^ajukan view/buatpengajuan.php
RewriteRule ^profile view/profile.php
RewriteRule ^home view/home.php
RewriteRule ^login view/login.php
RewriteRule ^register view/register.php
RewriteRule ^notification view/notifikasi.php

RewriteRule ^files routes/filehandle.php
RewriteRule ^authlogin routes/login.php
RewriteRule ^authregister routes/register.php