Options -Multiviews
RewriteEngine On

RewriteRule ^pengajuan/(.*)$ view/listpengajuan.php?code=$1
RewriteRule ^tarik/(.*)$ routes/tarik.php?code=$1
RewriteRule ^ajukan view/buatpengajuan.php
RewriteRule ^profile view/profile.php
RewriteRule ^home view/home.php
RewriteRule ^login view/login.php
RewriteRule ^register view/register.php